body {
    margin:0;
}
h1 {
    border-bottom: 1px solid gray;
    text-align: center;
    margin-top:40px;
    margin-bottom:10px;
    padding:30px;
}
#링크 {
    font-size: 25px;
}
a {
  text-decoration: none;
    color:rgb(89, 88, 161);
}
